@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

$main-color: #cf5c36;
$light-shade: #fce5d9;

$title-font: "Montserrat", sans-serif;
$p-font: "Open Sans", sans-serif;

@mixin flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@mixin cta-mobile {
  width: 100%;
  margin: 0.6rem 0rem;
  padding: 1.1rem 4rem;
  border: none;
  border-radius: 2rem;
  background: #cf5c36;
  text-transform: uppercase;
  font-weight: bold;
  color: #f2f2f2;
}

@mixin cta {
  position: relative;
  margin: 0.6rem 0rem;
  padding: 1.6rem 5rem;
  border: none;
  border-radius: 3rem;
  background: #cf5c36;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #f2f2f2;
  overflow: hidden;
  cursor: pointer;
}

@mixin cta-animation {
  &:hover {
    color: #cf5c36;
    background: #fce5d9;
  }
}

@mixin stepAnim {
  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0px 10px 20px #0001;
  }
}
